fastapi
uvicorn
SQLAlchemy
PyMySQL
python-jose
PyMongo
requests
Faker
requests
PyMongo

# Redis client for caching
redis

Flask-Limiter

matplotlib

redis

celery

# (Optional) If you later use environment variables from a .env file, uncomment:
# python-dotenv

# (Optional) For production WSGI server instead of Flask built-in dev server:
# gunicorn
